<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\userdata.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="AdminConStr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AdminData.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="ReqForBlood" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\RequestForBlood.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="All_InfoConStr" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\All_Info.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <pages>
      <namespaces>
        <add namespace="System.Data.SqlClient"/>
      </namespaces>
    </pages>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>